<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
    <link rel="stylesheet" href="/Template/styles.css">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <div class="container">
        <h1>今日生活</h1>
        <table id="table-blue">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>昨天睡觉时间</th>
                    <th>今天起床时间</th>
                    <th>今日体重</th>
                    <th>昨日锻炼</th>
                    <th>昨日资金剩余(支付宝)</th>
                    <th>昨日资金剩余(微信)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>

        <h1>新年计划</h1>
        <span class="color-DrRatio-blue">“要么立刻行动, 要么一事无成.” </span> -- 真理医生\(\cdot\)星野<br>
        <span class="color-huohuo-green">“太大的目标容易吓到自己……所以要把大目标化成多个小目标哦……”</span>--藿藿\(\cdot\)星野
        <hr>
        <h1>近日安排</h1>

        <hr>
        <h1>今日计划</h1>
        <h2>科研</h2>
        <h2>兴趣</h2>
        <h2>工作</h2>
        <h2>生活</h2>

        <h1>今日趣事</h1>
        <hr>
    </div>
</body>
</html>