.container {
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto; /* 自动设置左右外边距，居中 */
    padding: 20px; /* 内边距 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加轻微阴影，增加视觉效果 */
    border-radius: 10px; /* 圆角边框 */
}

/* 响应式设计：小屏幕下调整宽度 */
@media (max-width: 768px) {
    .container {
        width: 90%; /* 小屏幕占据更大比例 */
    }
}
div {
    overflow-wrap: break-word;
}
/* ---------------------------------------------------------- */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3 {
    color: #C1C1CF;
}
a {
    color: #3498db;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.note-section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #ffffff10;
}
.code {
    font-family: "Courier New", Courier, monospace;
    background: #f4f4f42f;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
}
h1 {
  font-size: 250%;
}
h2 {
  font-size: 200%;
}
h3{
  font-size: 150%;
}
h4, h5, h6 {
  font-size: 100%;
}

/* 表格设置 */
/* Table Head */
table{
    width: 100%; /* 设置表格宽度 */
    border-collapse: collapse; /* 合并边框 */
}
th, td {
    padding: 8px; /* 设置单元格内边距 */
    text-align: center; /* 水平居中 */
    vertical-align: middle; /* 垂直居中 */
}
#table-blue thead th {
    background-color: rgb(81, 130, 187);
    color: #fff;
    border-bottom-width: 0;
}
/* Column Style */
#table-blue td {
    color: #C1C1CF;
}
/* Heading and Column Style */
#table-blue tr, #table-blue th {
border-width: 1px;
border-style: solid;
border-color: rgb(81, 130, 187);
}
/* Padding and font style */
#table-blue td, #table-blue th {
padding: 5px 10px;
font-size: 12px;
font-family: Verdana;
font-weight: bold;
}

/* 颜色定义 */
.color-kachina-yellow {
    color: #ecac3d;
}
.color-nahida-green {
    color: #b9c78d;
}
.color-hutao-red {
    color: #c94737;
}
.color-DrRatio-blue{
    color: #6456A9
}
.color-huohuo-green{
    color: #98B6A3
}

/* 网页背景 */
body {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
    background-color: #2F343F;
    color: #C1C1CF;
}
body::before {
    margin: 0;
    padding: 0;
    content: ""; 
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Herta_sunset */
        /* background-image: url('https://raw.githubusercontent.com/Nekasu/Blog_pics/main/sunset_superresolution.jpg');
        background-position: 65% 50%;  */
    /* ZZZ-YA */
    background-image: url('https://raw.githubusercontent.com/Nekasu/Blog_pics/main/ya-long6-opacity0.png');
    background-position: calc(50vw - 1650px) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.1; 
    z-index: -1; 
}
/* 针对竖屏设备优化 */
@media (max-aspect-ratio: 9/16) { /* 判断设备是竖屏 */
    body::before {
        background-position: 50% 30%; /* 调整视觉中心位置 */
    }
}
/* 针对图像过大的问题 */
.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 设置del标签格式 */
del {
    color: #3b454e;
}

/* 设置图像随页面宽度而变化 */
img {
    width: 100%;
    height: auto; /* 保持原始宽高比 */
    opacity: 70%;
}

/* 为ul与ol添加类似于vscode的代码块左侧竖线 */
ol, ul {
    list-style-position: inside; /* 保持列表标记在可视区域 */
    padding-left: 20px; /* 为竖线留出空间 */
    border-left: 3px solid transparent; /* 初始隐藏竖线 */
    transition: border-color 0.3s ease-in-out; /* 平滑动画 */
}
ol:hover, ul:hover {
    border-left: 3px solid #cccccc40; /* 鼠标悬停时显示竖线 */
}